body
{
    margin: 0;
}

.box
{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}

.box-default
{
    padding: 25px;
    border: 10px solid black;
}

.box-new
{
    box-sizing: border-box; /*Para que el cuadro se adapte con la medida que pusimos (100px). Lo ajusta de forma que padding y border sea un total de 100 px*/
}